<style>
    .ipl-trust-your-gut {
        padding: 8rem 1rem 4rem 1rem;
        text-align: center;
    }
    .ipl-trust-your-gut .cta-button {
      margin-top: 2rem;
    }
    .ipl-trust-your-gut h1 {
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        color: #000;
    }
    .ipl-trust-your-gut h2 {
        font-size: 2em;
        margin-bottom: 20px;
    }
    .ipl-trust-your-gut .wrapper-grid {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .ipl-trust-your-gut .wrapper-grid.container {
        max-width: 1280px;
    }
    .ipl-trust-your-gut .wrapper-grid .trust-card__item {
          display: flex;
          align-items: center;
          gap: 1rem;
    }
    .ipl-trust-your-gut .wrapper-grid .trust-card__item svg {
        width: 70px;
    }
    .ipl-trust-your-gut .wrapper-grid .trust-card svg {
        width: 70px;
    }
    .ipl-trust-your-gut .wrapper-grid .trust-card__item p {
      font-size: 24px;
      color: #333333;
    }
    .ipl-trust-your-gut .wrapper-grid .trust-card p {
      font-size: 24px;
      color: #333333;
    }
    .ipl-trust-your-gut .wrapper-grid .trust-card.circle {
        background-image: url(https://cdn.shopify.com/s/files/1/0685/6497/5842/files/Ellipse_6.png?v=1739355461);
        width: 100%;
        height: 100%;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 400px;
        min-height: 400px;
        background-position: center;
        max-width: 400px;
        min-height: 400px;
        padding: 1rem;
    }
    @media (max-width: 768px) {
      .ipl-trust-your-gut .wrapper-grid .trust-card.circle {
        order: -1;
        width: 100%;
        height: 100%;
        max-width: 75%;
        min-width: unset;
        min-height: unset;
        background-size: contain;
        margin-bottom: 2rem;
      }
      .ipl-trust-your-gut {
        padding: 1rem;
        margin-top: 2rem;
      }
      .ipl-trust-your-gut .wrapper-grid .trust-card.circle img {
        top: 30vw;
      }
      .ipl-trust-your-gut .wrapper-grid .trust-card.right {
        min-height: unset!important;
        margin-left: -8px;
      }
      .ipl-trust-your-gut .wrapper-grid .trust-card__item:nth-child(1) {
        gap: 1px;
        margin-top: 12px;
      }
      .ipl-trust-your-gut .wrapper-grid .trust-card__item:nth-child(1) svg {
        margin-left: -6px;
      }
      .ipl-trust-your-gut h1 {
        font-size: 24px;
        margin-bottom: 0;
      }
    }
    .ipl-trust-your-gut .wrapper-grid .trust-card {
        display: flex;
        gap: 12px;
        justify-content: left;
        align-items: center;
        max-width: 400px;
    }
    .ipl-trust-your-gut .wrapper-grid .trust-card.right {
        flex-wrap: wrap;
        min-height: 50vh;
    }
    .ipl-trust-your-gut .wrapper-grid .trust-card p {
        text-align: left;
        font-size: 20px;
    }
    .ipl-trust-your-gut .wrapper-grid .trust-card.circle img {
        position: relative;
        top: 1.5rem;
    }
    .ipl-trust-your-gut .cta-button {
      min-width: 155px;
      margin-top: 0;
    }
    
</style>    

<section class="ipl-trust-your-gut">
    <h1>Trust your gut, check theirs</h1>
    <div class="wrapper-grid container">
      <div class="trust-card">
        <svg width="36" height="33" viewBox="0 0 36 33" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.0399 32.2707C21.5391 32.2707 27.6183 26.1914 27.6183 18.6922C27.6183 11.1931 21.5391 5.11377 14.0399 5.11377C6.54071 5.11377 0.461426 11.1931 0.461426 18.6922C0.461426 26.1914 6.54071 32.2707 14.0399 32.2707Z" fill="#CEE4DE"/>
          <path d="M14.1934 29.1874L14.0212 28.8939C11.3904 24.4116 4.39949 14.8995 4.32887 14.8039L4.22803 14.6669L6.6098 12.3131L14.1492 17.5776C18.8962 11.4177 23.3248 7.18679 26.2136 4.71609C29.3736 2.0134 31.4306 0.769171 31.4514 0.757248L31.4982 0.729248H35.5383L35.1524 1.07294C25.2271 9.9134 14.4691 28.7029 14.362 28.8917L14.1934 29.1874Z" fill="#03958D"/>
        </svg>
        <p>Guided recommendations developed by our veterinary medical team</p>
      </div>
      <div class="trust-card circle">
        <img src="https://cdn.shopify.com/s/files/1/0685/6497/5842/files/image_24.png?v=1739355823" alt="trust your gut">
      </div>
      <div class="trust-card right">
        <div class="trust-card__item">
          <svg width="36" height="33" viewBox="0 0 36 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.0399 32.2707C21.5391 32.2707 27.6183 26.1914 27.6183 18.6922C27.6183 11.1931 21.5391 5.11377 14.0399 5.11377C6.54071 5.11377 0.461426 11.1931 0.461426 18.6922C0.461426 26.1914 6.54071 32.2707 14.0399 32.2707Z" fill="#CEE4DE"/>
            <path d="M14.1934 29.1874L14.0212 28.8939C11.3904 24.4116 4.39949 14.8995 4.32887 14.8039L4.22803 14.6669L6.6098 12.3131L14.1492 17.5776C18.8962 11.4177 23.3248 7.18679 26.2136 4.71609C29.3736 2.0134 31.4306 0.769171 31.4514 0.757248L31.4982 0.729248H35.5383L35.1524 1.07294C25.2271 9.9134 14.4691 28.7029 14.362 28.8917L14.1934 29.1874Z" fill="#03958D"/>
          </svg>
          <p>Comprehensive tests <br>that identify root causes of gut health issue</p>
        </div>
        <div class="trust-card__item">
          <svg width="36" height="33" viewBox="0 0 36 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.0399 32.2707C21.5391 32.2707 27.6183 26.1914 27.6183 18.6922C27.6183 11.1931 21.5391 5.11377 14.0399 5.11377C6.54071 5.11377 0.461426 11.1931 0.461426 18.6922C0.461426 26.1914 6.54071 32.2707 14.0399 32.2707Z" fill="#CEE4DE"/>
            <path d="M14.1934 29.1874L14.0212 28.8939C11.3904 24.4116 4.39949 14.8995 4.32887 14.8039L4.22803 14.6669L6.6098 12.3131L14.1492 17.5776C18.8962 11.4177 23.3248 7.18679 26.2136 4.71609C29.3736 2.0134 31.4306 0.769171 31.4514 0.757248L31.4982 0.729248H35.5383L35.1524 1.07294C25.2271 9.9134 14.4691 28.7029 14.362 28.8917L14.1934 29.1874Z" fill="#03958D"/>
          </svg>
          <p>Only we offer testing <br> for inflammation, immune response, and gut permeability.</p>
        </div>
      </div>
    </div>
    <a href="/collections/all" class="cta-button">View all products</a>
  </section>

{% schema %}
{
  "name": "IPL trust your gut",
  "settings": [
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading Text",
      "default": "Welcome to Our Store!"
    },
    {
      "type": "textarea",
      "id": "body_text",
      "label": "Body Text",
      "default": "This is a customizable page for displaying your content."
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": "IPL trust your gut"   
    }
  ]
}
{% endschema %}
