
        <style>
            .ipl-our-process {
                padding-top: 5rem;
            }
            @media (max-width: 768px) {
                .ipl-our-process {
                    padding-top: 0;
                }
                .ipl-our-process .process-item {
                    flex-direction: row;
                }
                .process-grid {
                    margin-top: 0!important;
                }
                .ipl-our-process h1 {
                    margin-bottom: 35px;
                }
            }
            .ipl-our-process h1 {
                text-align: center;
                font-size: 48px;
                font-weight: bold;
                color: #000;
                margin-bottom: 50px;
            }   
            .process-grid {
                margin-top: 5rem;
                margin-bottom: 2rem;
                display: flex;
                flex-wrap: wrap;
                gap: 48px;
                justify-content: space-between;
            }   
            .process-grid > * {
                flex: 1 1 calc(33.33% - 32px);
            }
            .process-item {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .process-item h2 {
                font-size: 24px;
                font-weight: 600;
            }
            .process-item p {
                font-size: 20px;
                line-height: 27.32px;
                padding: 0 12px 0 15px;
            }
            .icon-container {
                background-color: #ECF0EF;
                border-radius: 50%;
                width: 20vw;
                height: 20vw;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 54px;
            }
            .icon {
                width: 48px;
                height: 48px;
            }
            h2 {
                color: #1F2937;
                font-size: 1.25rem;
                margin-bottom: 16px;
            }
            p {
                color: #4B5563;
                font-size: 1rem;
            }
    
            @media (max-width: 768px) {
                .process-grid {
                    flex-direction: column;
                    gap: 6px;
                }
                .icon-container svg {
                    width: 46px;
                    height: 46px;
                }
                .icon-container {
                    height: 88px;
                    width: 93px;
                    margin-bottom: 1rem;
                    max-width: 93px;
                    min-width: 93px;
                }
                .process-info {
                    text-align: left;
                }
                .process-info h2 {
                    padding: 0 1px 0 15px;
                    font-size: 20px;
                }
                .process-item p {
                    font-size: 14px;
                    line-height: 19.12px;
                }
                .ipl-our-process h1 {
                    font-size: 24px;
                }
            }
            @media (max-width: 1020px) {
                .process-grid {
                    gap: 1px;
                }
            }
            @media (min-width: 769px) {
                .icon-container svg {
                    width: 100%;
                    height: 9vw;
                }
            }
            @media (min-width: 2400px) {
                .icon-container svg {
                    height: 5vw;
                }
                .icon-container {
                    width: 300px;
                    height: 300px;
                }
            }
        </style>

        <div class="ipl-our-process">
            <div class="container">
                <h1>Our Process</h1>
                <div class="process-grid">
                    <div class="process-item">
                        <div class="icon-container">
                            <svg width="160" height="160" viewBox="0 0 160 160" fill="none" xmlns="http://www.w3.org/2000/svg"> 
                            <path d="M132.83 16.3016C132.528 14.7922 132.226 13.5847 131.622 12.3771C130.415 9.96202 128 7.84882 125.283 6.94316C123.773 6.0375 122.264 5.73561 120.754 5.73561C97.5092 5.43372 89.962 5.43372 19.6224 5.13184C18.4149 5.13184 16.6035 5.13184 15.0941 5.73561C12.0752 6.64127 9.66014 8.75448 7.84882 11.4715C7.24504 12.679 6.64127 14.1884 6.33938 15.6979C5.73561 17.8111 6.64127 143.094 6.64127 142.792C6.64127 145.811 7.84882 148.83 9.96203 150.943C12.0752 153.056 14.7922 154.566 17.8111 154.868H21.7356C22.3394 154.868 33.5092 154.566 68.83 154.264C85.1318 153.962 101.434 153.66 117.736 153.056C121.056 153.962 124.075 154.566 127.396 154.264C134.943 153.962 141.887 150.339 146.717 145.207C151.547 140.075 154.264 133.132 154.264 125.887C154.264 129.509 153.358 132.83 152.151 136.151C150.641 139.471 148.528 142.188 146.113 144.604C140.981 149.434 134.038 151.547 127.396 151.245C120.754 150.943 114.717 147.924 110.49 143.094C106.264 138.566 103.849 132.226 103.849 126.188C103.849 119.849 106.264 113.811 110.49 109.283C114.717 104.453 120.754 101.434 127.396 101.132C134.038 100.83 140.981 102.943 146.113 107.773C148.528 110.188 150.641 112.905 152.151 116.226C153.66 119.547 154.264 122.868 154.264 126.49C154.264 119.547 151.547 112.604 146.717 107.17C142.792 102.943 137.358 99.9243 131.622 98.7168C131.622 86.6413 133.132 19.3205 132.83 16.3016ZM127.094 97.8111C120.754 97.5092 114.113 99.3205 108.981 103.245C95.396 101.736 82.7168 101.434 69.1318 101.434C61.8866 101.434 54.6413 101.434 47.396 102.037C40.1507 102.339 32.9054 102.943 25.6601 103.849C32.9054 104.754 40.1507 105.358 47.396 105.66C54.6413 105.962 61.8866 106.264 69.1318 106.264C82.7168 106.264 94.1885 105.962 107.773 104.453C107.17 104.754 106.868 105.358 106.264 105.66C100.528 110.792 97.2073 118.641 97.2073 126.49C97.2073 130.415 98.113 134.339 99.6224 137.962C101.132 141.585 103.547 144.604 106.264 147.321C108.981 149.736 112.302 151.849 115.622 153.056C99.9243 152.453 84.2262 152.151 68.5281 151.849C15.0941 150.641 19.0186 150.641 18.113 150.641C16.3016 150.339 14.4903 149.434 13.2828 147.924C12.0752 146.415 11.4715 144.604 11.4715 142.792C12.0752 10.2639 11.1696 17.2073 12.9809 14.1884C13.8866 12.9809 15.0941 11.7733 16.9054 11.1696C17.8111 10.8677 18.4149 10.8677 19.6224 10.8677C102.339 10.5658 121.056 9.96202 120.754 9.96202C121.66 9.96202 122.566 9.96203 123.773 10.2639C125.585 10.8677 127.094 12.0752 128.302 13.8866C128.905 14.7922 129.207 15.6979 129.207 16.6035C130.717 25.6601 127.396 -10.8682 131.019 98.4149C129.811 98.113 128.604 97.8111 127.094 97.8111Z" fill="#1C3125"/>
                            <path d="M52.2259 57.6599C61.8863 57.0561 64.9052 57.0561 70.0373 56.4524C64.9052 55.8486 61.8863 55.8486 53.7354 55.2448C54.3391 52.2259 55.5467 49.509 57.6599 47.0939C59.7731 44.6788 62.792 42.8675 66.1127 41.9618C66.7165 41.9618 67.0184 41.6599 67.3203 41.0561C67.924 40.1505 67.6222 38.9429 66.7165 38.3392C63.6976 36.8297 62.4901 32.9052 63.3957 29.8863C64.3014 26.8675 67.3203 24.4524 70.3391 24.4524C73.6599 24.4524 76.6788 26.5656 77.2825 29.8863C78.1882 32.9052 76.6788 36.5278 73.9618 38.3392C73.6599 38.641 73.0561 38.9429 73.0561 39.5467C72.7542 40.4524 73.358 41.6599 74.5656 41.9618C77.8863 42.8675 80.9052 44.6788 83.0184 47.0939C84.8297 49.2071 86.3391 52.2259 86.9429 55.2448C79.0939 55.8486 75.4712 55.8486 70.641 56.4524C75.7731 57.0561 78.792 57.0561 88.4523 57.6599C89.0561 57.6599 89.6599 57.0561 89.6599 56.4524C89.6599 52.5278 88.1505 48.6033 85.7354 45.2825C83.924 43.1693 81.8108 41.0561 79.0939 39.8486C81.8108 37.1316 83.0184 32.9052 81.8108 29.2825C80.6033 24.1505 75.7731 20.5278 70.641 20.5278C65.509 20.5278 60.6788 24.1505 59.4712 29.2825C58.5656 32.9052 59.7731 37.1316 62.1882 39.8486C59.4712 41.0561 57.358 43.1693 55.5467 45.2825C53.1316 48.6033 51.6222 52.5278 51.6222 56.4524C51.0184 57.0561 51.6222 57.6599 52.2259 57.6599Z" fill="#1C3125"/>
                            <path d="M70.0376 68.8301C62.4905 68.8301 55.2452 68.8301 47.698 69.4339C40.1509 69.7357 32.9056 70.3395 25.3584 71.2452C32.9056 72.1508 40.1509 72.7546 47.698 73.0565C55.2452 73.3584 62.4905 73.6603 70.0376 73.6603C77.5848 73.6603 84.8301 73.6603 92.3773 73.0565C99.9244 72.7546 107.17 72.1508 114.717 71.2452C107.17 70.3395 99.9244 69.7357 92.3773 69.4339C84.8301 69.132 77.2829 68.8301 70.0376 68.8301Z" fill="#1C3125"/>
                            <path d="M70.0373 85.1318C64.9052 85.1318 59.7732 85.1318 54.943 85.7356C49.8109 86.0375 44.6788 86.6413 39.8486 87.5469C44.9807 88.4526 50.1128 89.0564 54.943 89.3583C60.0751 89.6601 65.2071 89.962 70.0373 89.962C75.1694 89.962 80.3015 89.962 85.1317 89.3583C90.2637 89.0564 95.3958 88.4526 100.226 87.5469C95.0939 86.6413 89.9618 86.0375 85.1317 85.7356C80.3015 85.4337 75.1694 85.1318 70.0373 85.1318Z" fill="#1C3125"/>
                            <path d="M65.5091 122.264C69.7356 122.264 74.2639 122.264 78.4903 121.66C82.7167 121.358 87.245 120.755 91.4714 119.849C87.245 118.943 82.7167 118.34 78.4903 118.038C73.962 117.736 69.7356 117.736 65.5091 117.736C61.2827 117.736 56.7544 117.736 52.528 118.34C48.3016 118.642 43.7733 119.245 39.5469 120.151C43.7733 121.057 48.3016 121.66 52.528 121.962C56.7544 122.264 60.9808 122.264 65.5091 122.264Z" fill="#1C3125"/>
                            <path d="M122.566 130.415C120.453 128.301 118.038 126.188 115.623 124.377C117.132 128 119.245 131.018 121.358 134.339C121.962 134.943 122.868 135.245 123.774 134.641L124.075 134.339C127.698 131.622 130.717 128.301 133.736 124.981C136.755 121.66 139.472 118.037 141.585 114.113C134.34 117.735 127.396 124.075 122.566 130.415Z" fill="#1C3125"/>
                            </svg>
                        </div>
                        <div class="process-info">
                            <h2>Register</h2>
                            <p>Create an account and register your kit using your unique ID.</p>
                        </div>
                    </div>
                    <div class="process-item">
                        <div class="icon-container">
                            <svg width="160" height="160" viewBox="0 0 160 160" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M41.8462 18.7695C39.0769 19.3848 36.3077 20.6156 34.1538 22.4618C31.6923 24.6156 29.8462 27.0772 28.9231 30.1541C28.6154 31.6925 28.3077 32.9233 28.3077 34.4618V38.4618L28 46.1541V48.0002C28 48.9233 28 49.8464 28.3077 50.7695C29.2308 54.4618 32.3077 57.231 36 57.5387H36.3077C35.0769 106.462 35.0769 126.462 35.0769 140.616V142.769V145.231C35.3846 151.077 40 156 45.5385 156.923H48C48.3077 156.923 54.7692 156.923 54.4615 156.923H63.0769H80.3077C81.5385 156.923 107.385 156.923 105.846 156.923H110.154C112.308 156.923 113.846 156.923 114.769 156.616C120.308 155.693 124.615 151.077 125.231 145.231C125.231 144.308 125.231 143.693 125.231 142.769C125.231 139.693 124.923 98.1541 123.692 57.5387H124.308C125.231 57.5387 126.154 57.231 126.769 56.6156C130.154 55.0771 132.308 51.3848 132 48.0002L131.692 40.3079V36.3079C131.692 35.0771 131.692 33.5387 131.385 32.0002C130.769 28.9233 129.538 26.1541 127.692 24.0002C125.846 21.8464 123.077 20.0002 120.308 19.3848C118.769 19.0771 117.538 18.7695 116 18.7695C114.462 18.7695 113.231 18.7695 112 18.7695C110.769 18.7695 109.538 18.7695 108 19.0771C108.308 17.8464 108.308 16.6156 108.615 15.3848L108.923 12.9233C108.923 12.0002 108.923 11.0771 108.615 10.1541C108 8.30792 106.769 6.46176 104.923 5.23099C104 4.61561 103.077 4.30792 101.846 4.00023C101.538 4.00023 100.923 3.69253 99.0769 3.69253C92.9231 3.38484 86.4615 3.07715 80 3.07715C73.5385 3.07715 67.0769 3.38484 60.3077 3.69253H59.0769C58.7692 3.69253 58.1538 3.69253 57.5385 4.00023C56.6154 4.30792 55.3846 4.61561 54.4615 5.23099C52.6154 6.46176 51.3846 8.30792 50.7692 10.1541C50.4615 11.0771 50.4615 12.0002 50.4615 12.9233C50.4615 13.8464 50.7692 14.4618 50.7692 15.3848C51.0769 16.6156 51.0769 17.8464 51.3846 18.7695C50.7692 18.7695 50.1538 18.7695 49.2308 18.7695C47.3846 18.7695 44.6154 18.4618 41.8462 18.7695ZM81.5385 127.385C81.5385 128.308 81.2308 129.231 80.6154 129.846C80 130.769 79.3846 131.077 78.4615 131.385C77.8462 131.693 77.5385 131.693 76.9231 131.693C76 131.693 62.1538 132 40.3077 132.616C40.3077 123.693 40.3077 112 39.3846 75.3848C60.9231 76.3079 74.4615 76.3079 76.6154 76.3079C77.2308 76.3079 77.5385 76.3079 78.1538 76.6156C79.0769 76.9233 79.6923 77.5387 80.3077 78.1541C80.9231 78.7695 81.2308 79.6925 81.2308 80.6156C81.2308 81.231 81.2308 105.231 81.2308 103.693C81.5385 104.308 81.5385 128.923 81.5385 127.385ZM119.385 142.769V144.616C119.385 145.539 119.077 146.462 118.462 147.385C117.538 149.231 115.692 150.462 113.846 150.769C112.923 150.769 111.385 150.769 110.154 150.769C109.538 150.769 96.6154 150.769 97.2308 150.769H80H62.7692C62.1538 150.769 49.2308 150.769 49.8462 150.769C48.3077 150.769 46.7692 150.769 46.1538 150.769C44.3077 150.462 42.4615 149.231 41.5385 147.385C40.9231 146.462 40.6154 145.539 40.6154 144.616C40.6154 144.308 40.6154 143.385 40.6154 142.769C40.6154 142.462 40.6154 136.308 40.6154 136.616C61.8462 137.539 75.3846 137.539 76.9231 137.539C77.8462 137.539 79.0769 137.539 80 137.231C84.3077 136 87.3846 132 87.3846 127.693C87.3846 127.385 87.3846 103.077 87.3846 104.616C87.3846 104.308 87.3846 80.0002 87.3846 81.5387C87.3846 77.231 84.3077 73.231 80 72.0002C79.0769 71.6925 77.8462 71.6925 76.9231 71.6925H74.4615C62.7692 72.0002 51.0769 72.3079 39.3846 72.6156C39.3846 67.6925 39.0769 62.7695 39.0769 58.1541C40.3077 58.1541 48 58.1541 47.6923 58.1541L78.7692 58.4618L109.846 58.1541C110.462 58.1541 121.231 57.8464 120.615 58.1541C120.308 79.6925 120 101.539 119.692 123.385C119.692 124 119.385 143.693 119.385 142.769ZM52.6154 17.8464L52.9231 15.3848L53.2308 12.9233C53.2308 12.3079 53.5385 11.6925 53.8462 11.0771C54.4615 9.84638 55.3846 9.23099 56.6154 8.61561C57.2308 8.30792 57.8462 8.30792 58.1538 8.30792H59.0769H60.3077C67.0769 8.9233 73.5385 9.23099 80 9.23099C86.4615 9.23099 92.9231 8.9233 99.6923 8.61561H100.923H101.846C102.462 8.61561 103.077 8.61561 103.385 8.9233C104.615 9.231 105.538 10.1541 106.154 11.0771C106.462 11.6925 106.769 12.3079 106.769 12.9233L107.077 15.3848L107.385 17.8464C107.385 18.1541 107.385 18.4618 107.692 19.0771C98.7692 19.3848 89.8462 19.6925 80.9231 20.3079C91.3846 20.9233 101.538 21.231 112 21.8464C114.769 21.8464 116.923 21.8464 119.077 22.7695C121.231 23.6925 123.077 24.9233 124.308 26.7695C125.538 28.6156 126.462 30.7695 126.769 32.9233C127.077 34.7695 126.769 37.8464 126.769 40.3079L126.462 48.0002C126.462 49.8464 125.538 51.0771 124 52.0002C123.692 52.3079 123.385 52.3079 122.769 52.3079C122.462 52.3079 122.462 52.3079 122.154 52.3079H121.231C116.923 52.3079 109.231 52.0002 109.538 52.0002L78.4615 51.6925L47.3846 52.0002C46.4615 52.0002 37.2308 52.0002 37.5385 52.0002H36.6154C36.3077 52.0002 36.3077 52.0002 36 52.0002C34.4615 51.6925 33.2308 50.7695 32.6154 49.231C32.6154 48.9233 32.6154 48.6156 32.3077 48.0002V46.1541L32 38.4618V34.7695C32 33.5387 32 32.6156 32.3077 31.3848C32.9231 29.231 34.1538 27.3848 35.6923 25.8464C37.2308 24.3079 39.3846 23.0772 41.5385 22.4618C43.6923 21.8464 46.4615 22.1541 48.9231 21.8464C59.3846 21.231 69.5385 20.9233 80 20.3079C70.4615 19.6925 60.9231 19.3848 51.3846 18.7695C52.3077 18.7695 52.6154 18.1541 52.6154 17.8464Z" fill="#1C3125"/>
                            <path d="M109.846 42.7696C111.077 41.8465 111.692 40.9234 112.308 40.308C113.231 38.4619 113.231 36.9234 112.308 35.0773C111.692 34.1542 111.077 33.2311 109.846 32.6157C108.615 33.5388 108 34.4619 107.385 35.0773C106.462 36.6157 106.462 38.4619 107.385 40.308C107.692 40.9234 108.615 41.8465 109.846 42.7696Z" fill="#1C3125"/>
                            <path d="M94.7691 42.7696C95.9998 41.8465 96.6152 40.9234 97.2306 40.308C98.1537 38.7696 98.1537 36.9234 97.2306 35.0773C96.6152 34.1542 95.9998 33.2311 94.7691 32.6157C93.5383 33.5388 92.9229 34.4619 92.3075 35.0773C91.3845 36.6157 91.3845 38.4619 92.3075 40.308C92.9229 40.9234 93.5383 41.8465 94.7691 42.7696Z" fill="#1C3125"/>
                            <path d="M80 42.7696C81.2308 41.8465 81.8462 40.9234 82.4616 40.308C83.3846 38.7696 83.3846 36.9234 82.4616 35.0773C81.8462 34.1542 81.2308 33.2311 80 32.6157C78.7693 33.5388 78.1539 34.4619 77.5385 35.0773C76.6154 36.6157 76.6154 38.4619 77.5385 40.308C78.1539 40.9234 78.7693 41.8465 80 42.7696Z" fill="#1C3125"/>
                            <path d="M65.231 42.7696C66.4618 41.8465 67.0771 40.9234 67.6925 40.308C68.6156 38.4619 68.6156 36.9234 67.6925 35.0773C67.0771 34.1542 66.4618 33.2311 65.231 32.6157C64.0002 33.5388 63.3848 34.4619 62.7695 35.0773C61.8464 36.6157 61.8464 38.4619 62.7695 40.308C63.0771 40.9234 64.0002 41.8465 65.231 42.7696Z" fill="#1C3125"/>
                            <path d="M47.9999 35.0773C47.0768 36.6157 47.0768 38.4619 47.9999 40.308C48.6153 41.2311 49.2307 42.1542 50.4615 42.7696C51.6922 41.8465 52.3076 40.9234 52.923 40.308C53.8461 38.7696 53.8461 36.9234 52.923 35.0773C52.3076 34.1542 51.6922 33.2311 50.4615 32.6157C48.923 33.5388 48.3076 34.1542 47.9999 35.0773Z" fill="#1C3125"/>
                            <path d="M56.3078 89.5386C54.7694 90.154 52.9232 90.7694 51.3848 92.0002C52.9232 93.2309 54.7694 93.8463 56.3078 94.4617C59.6925 95.3848 63.0771 95.3848 66.154 94.4617C67.6925 93.8463 69.5386 93.2309 71.0771 92.0002C69.5386 90.7694 67.6925 90.154 66.154 89.5386C62.7694 88.9233 59.3848 88.6156 56.3078 89.5386Z" fill="#1C3125"/>
                            <path d="M56.3078 101.846C54.7694 102.462 52.9232 103.077 51.3848 104.308C52.9232 105.539 54.7694 106.154 56.3078 106.769C59.6925 107.692 63.0771 107.692 66.154 106.769C67.6925 106.154 69.5386 105.539 71.0771 104.308C69.5386 103.077 67.6925 102.462 66.154 101.846C62.7694 101.231 59.3848 101.231 56.3078 101.846Z" fill="#1C3125"/>
                            <path d="M56.3078 114.462C54.7694 115.077 52.9232 115.693 51.3848 116.923C52.9232 118.154 54.7694 118.77 56.3078 119.385C59.6925 120.308 63.0771 120.308 66.154 119.385C67.6925 118.77 69.5386 118.154 71.0771 116.923C69.5386 115.693 67.6925 115.077 66.154 114.462C62.7694 113.539 59.3848 113.539 56.3078 114.462Z" fill="#1C3125"/>
                            </svg>
                        </div>
                        <div class="process-info">
                            <h2>Collect & Mail</h2>
                            <p>Using supplies provided by us, collect a stool sample.</p>
                        </div>
                    </div>
                    <div class="process-item">
                        <div class="icon-container">
                            <svg width="140" height="156" viewBox="0 0 140 156" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M136.461 154.923C138 154.923 139.231 153.692 139.231 152.154L138.923 110.923C138.615 86.923 138.615 93.9999 138.308 69.6922C138.308 69.0768 138 68.7691 137.692 68.1537L123.846 54.6153V51.5383L124.154 37.9999C124.154 37.6922 124.154 26.6153 124.154 26.923V25.6922C124.154 25.0768 123.846 24.1537 123.846 23.5383C122.615 19.2307 118.923 15.846 114.615 14.923C114 14.923 113.077 14.6153 112.461 14.6153H110.615H97.0767H82.3075C78.9229 10.3076 77.0767 7.23065 71.846 1.69219C70.9229 0.769114 69.3844 0.461422 68.4614 1.3845C65.6921 3.84604 62.9229 6.61527 60.4614 8.76911C58.3075 10.923 56.1537 13.0768 53.9998 15.2307H42.6152H29.0767H27.2306C26.6152 15.2307 25.6921 15.2307 25.0767 15.5383C20.769 16.4614 17.0767 19.846 15.846 24.1537C15.846 24.7691 15.5383 25.3845 15.5383 26.3076V27.5383C15.5383 27.846 15.5383 38.923 15.5383 38.6153L15.846 52.1537V55.2307L1.99981 68.7691C1.69212 69.0768 1.38443 69.6922 1.38443 70.3076C0.769043 119.538 0.769043 103.231 0.769043 152.461C0.769043 154 1.99981 155.231 3.53827 155.231H69.9998L136.461 154.923ZM6.30751 149.385L5.99981 110.923L5.69212 71.5383C9.38443 74.3076 12.769 76.7691 16.4614 79.5383C16.4614 80.1537 16.769 80.4614 17.3844 80.7691C19.5383 81.9999 21.3844 83.2307 23.5383 84.4614C38.3075 94.6153 49.3844 101.692 64.4614 111.231C54.9229 117.384 45.0767 123.231 35.846 129.692C26.3075 136.154 16.769 142.615 7.53827 149.692L6.30751 149.385ZM116.769 84.4614C118.923 83.2307 120.769 81.9999 122.923 80.7691C123.538 80.4614 123.538 79.846 123.846 79.5383C127.538 77.0768 130.923 74.3076 134.615 71.5383L134 110.923L133.692 149.077H132.769C123.538 142.308 114 135.538 104.461 129.385C94.9229 122.923 85.3844 117.077 75.846 110.923C90.9229 101.692 101.692 94.6153 116.769 84.4614ZM134.308 70.923V71.2307C130.615 73.0768 127.231 74.923 123.538 76.7691L123.846 60.4614L134.308 70.923ZM64.769 13.0768C66.6152 11.2307 68.4614 9.07681 70.3075 7.23065C74.9229 10.923 76.1537 11.5383 81.0767 15.2307H69.9998H62.6152C63.2306 14.3076 64.1537 13.6922 64.769 13.0768ZM20.769 38.3076C20.769 37.9999 20.769 27.5383 20.769 28.1537V27.2307V26.6153C20.769 26.3076 20.769 25.6922 21.0767 25.3845C21.6921 23.2307 23.846 21.3845 25.9998 21.0768H27.2306H29.0767H42.6152H69.6921C132.154 20.7691 57.3844 21.0768 112.154 20.7691H113.384C116.154 21.6922 118 23.2307 118.615 25.6922C118.615 25.9999 118.923 26.3076 118.923 26.923V27.5383C118.923 27.846 118.923 32.1537 118.923 31.846V38.6153L119.231 52.1537L119.846 78.3076C118.308 79.5383 116.461 80.4614 114.923 81.6922C110.615 84.1537 106.308 86.3076 102.308 88.7691C91.5383 94.923 81.0767 101.384 70.3075 107.538C54.3075 97.6922 41.9998 90.6153 25.3844 81.3845C23.846 80.1537 21.9998 79.2307 20.4614 77.9999L21.0767 51.846L20.769 38.3076ZM16.1537 76.4614C12.769 74.6153 9.07674 72.7691 5.38443 70.923V70.6153L15.846 59.846L16.1537 76.4614ZM8.76904 149.385C18.6152 144.461 28.4614 138.923 37.9998 133.692C48.7691 127.538 59.2306 121.077 69.9998 114.923C80.7691 121.384 91.2306 127.846 102 134C111.538 139.538 121.384 144.769 131.231 149.692L69.9998 149.077L8.76904 149.385Z" fill="#1C3125"/>
                            <path d="M87.5382 35.8459C93.3844 35.5382 99.2306 34.6151 105.077 33.3843C99.2306 32.1535 93.3844 31.5382 87.5382 30.9228C76.1536 29.9997 65.0767 29.9997 52.4613 30.9228C46.6152 31.2305 40.769 32.1535 34.9229 33.3843C40.769 34.6151 46.6152 35.2305 52.4613 35.8459C64.769 36.7689 76.1536 36.7689 87.5382 35.8459Z" fill="#1C3125"/>
                            <path d="M87.5382 54.3078C93.3844 54.0001 99.2306 53.077 105.077 51.8462C99.2306 50.6155 93.3844 50.0001 87.5382 49.3847C76.1536 48.4616 64.769 48.4616 52.4613 49.3847C46.6152 49.6924 40.769 50.6155 34.9229 51.8462C40.769 53.077 46.6152 53.6924 52.4613 54.3078C64.769 55.2308 76.1536 54.9231 87.5382 54.3078Z" fill="#1C3125"/>
                            <path d="M87.5382 72.4616C93.3844 72.1539 99.2306 71.2308 105.077 70C99.2306 68.7693 93.3844 68.1539 87.5382 67.5385C76.1536 66.6154 64.769 66.6154 52.4613 67.5385C46.6152 67.8462 40.769 68.7693 34.9229 70C40.769 71.2308 46.6152 71.8462 52.4613 72.4616C64.769 73.3847 76.1536 73.3847 87.5382 72.4616Z" fill="#1C3125"/>
                            </svg>
                        </div>
                        <div class="process-info">
                            <h2>Digital result</h2>
                            <p>Send your sample to the lab and get results within 14-21 days.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% schema %}
{
  "name": "IPL Our Process",
  "settings": [
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading Text",
      "default": "Welcome to Our Store!"
    },
    {
      "type": "textarea",
      "id": "body_text",
      "label": "Body Text",
      "default": "This is a customizable page for displaying your content."
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": "IPL Our Process",
      "category": "Custom"
    }
  ]
}
{% endschema %}