.navbar-nav {
    justify-content: left!important;
}

.right-menu {
    display: none;
}

.sticky-header .header__heading-link img {
    max-width: 50%;
}

.yv-image-banner-heading {
    font-size: 48px!important;
    color: #000011!important;
    font-weight: 700;
    text-align: left!important;
    line-height: 65.57px;
}

.yv-image-banner-desc p {
    color:#000011!important;
    text-align: left!important;
}

.yv-image-banner-button {
    text-align: left;
}

.yv-image-banner-button .button {
    text-transform: capitalize;
    font-weight: 600;
}

.shopify-section-main-header header[header-transparent=true]:not(:hover) .nav-item .nav-link {
    color: #1C1D31!important;
}

@media (min-width: 750px) {

    .sticky-header .header__heading-link img {
        max-width: 100%;
    }

  .header__icons {
      min-width: 30em;
      justify-content: right;
  }

  .right-menu {
      display: flex;
      justify-content: left;
      align-items: center;
  }
  
  .right-menu .nav-item {
      display: flex;
      align-items: center;
  }
  
  .right-menu ul li {
    list-style: none;
  }
  
  .right-menu .nav-item svg {
      width: 10px;
      height: 10px;
  }
  
.yv-dropdown-menus.mega-menu {
    background-color: transparent!important;
    box-shadow: none;
    width: 100%;
}

.yv-dropdown-menus.mega-menu .container {
    background-color: #fff;
    padding: 1rem;
    width: auto;
    max-width: max-content;
    margin: 0;
}

.yv-dropdown-menus.mega-menu .container .mega-menu-2 .dropdown-inner-menu-item {
    padding: 0;
}

.yv-dropdown-detail[open] .yv-dropdown-menus {
    min-height: 60vh;
    max-width: 42%;
    top: 75%;
}

.yv-dropdown-menus.mega-menu .container .mega-menu-2 ul {
    position: absolute;
    z-index: 5;
    padding: 1rem;
    background: paleturquoise;
    width: auto;
    min-width:11em;
    height: auto;
    min-height: 100%;
    left: 3rem;
    display: none;
}

.yv-dropdown-menus.mega-menu .container .mega-menu-2 ul.show:empty {
    visibility: hidden;
}

.right-menu .yv-dropdown-detail[open] .yv-dropdown-menus {
    min-height: auto;
}

.mega-menu-2 ul.show {
    display: block!important;
}

}


/* Product page styling **/
.shopify-section-main-header.sticky-header-main {
    min-height: 130px;
}

.shopify-section-main-header.sticky-header-main header {
    height: 97px;
}

.shopify-section-main-header.sticky-header-main header .header__heading-link img {
    width: 77px!important;
}

.product-gallery {
    display: flex;
    gap: 1rem;
}

.product-gallery__wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 0 1rem;
    overflow: hidden;
    position: relative;
}

.product-gallery__wrapper .swiper-button-wrap {
    position: absolute;
    bottom: 1.3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product-gallery__thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
    overflow: scroll;
    justify-content: center;
}

.product-gallery__thumbnail {
    border: 1px solid #e1e1e1;
    background: #fff;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.product-gallery__thumbnail:hover,
.product-gallery__thumbnail:focus {
    border-color: #202020;
}

.product-gallery__viewer {
    flex-grow: 1;
    position: relative;
}

.product-gallery__image-wrapper {
    display: none;
}

.product-gallery__image-wrapper.is-active {
    display: block;
}

.template_product-basic-gut-product .col-12 {
    overflow: hidden;
}

.product-gallery__viewer {
  display: flex;
  overflow: hidden;
  touch-action: pan-y;
}

.product-gallery__image-wrapper {
  min-width: 100%;
  transition: transform 0.3s ease-in-out;
  display: none;
  border: 0.5px solid #e1e1e1;
}

.product-gallery__image-wrapper.is-active {
  display: block;
}

.product-gallery__thumbnail {
  cursor: pointer;
}

.product-gallery__thumbnail:hover {
    border: 1px solid #03b0a7;
}

.product-gallery__thumbnail.is-active {
    font-weight: bold;
    border: 1px solid #03b0a7;
}

.product-gallery__thumbnails {
    display: flex;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: auto;
    max-width: 30em;
}
  
.product-gallery__thumbnails .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.product-gallery__thumbnail img {
    display: block;
    width: 100%;
    height: auto;
}

.product-gallery__thumbnail img {
    display: block;
    width: 100%;
    height: auto;
}

.swiper-button-next-ipl {
    color: #000011!important;
    display: none!important;
    cursor: pointer;
}

.swiper-button-prev-ipl {
    color: #000011!important;
    display: none!important;
    cursor: pointer;
}

@media (max-width: 767px) {
    .product-gallery__thumbnails {
        overflow: hidden;
        width: 100%;
        padding: 0.5rem;
    }
}

@media (min-width: 768px) {
    .swiper-button-next-ipl, .swiper-button-prev-ipl {
        display: block!important;
    }
}

@media (min-width: 1020px) {

    .product-gallery__image {
        padding-bottom: 0!important;
        overflow: hidden;
    }

    .product-gallery__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .product-gallery__wrapper {
        padding: unset;
    }

    .product-gallery__thumbnails {
        flex-wrap: wrap;
    }

}

@media (max-width: 1246px) {
    .product-gallery__wrapper .swiper-button-wrap {
        display: none;
    }
}

@media (min-width: 1799px) {
    .product-gallery__wrapper .swiper-button-wrap {
        padding: 0 4rem;
        display: flex;
    }
}

/* Shop page styling **/
.blog-filter-box h6 {
    display: none;
}

.image-wrapper {
    background-color: #f9f9f9;
}

.image-wrapper img {
    transition: transform 0.3s ease;
}

.image-wrapper:hover {
    background-color: #99d5e0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)!important;

}

.image-wrapper:hover img {
    transform: scale(1.1) rotate(3deg);
}

.promotional-banner {
    height: 29vw;
    overflow: hidden;
    border-radius: 8px;
}

.promotional-banner .img-wrap {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.promotional-banner .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(60%);
}

/* Research page */
.filter-tags li a {
    padding: 1rem!important;
    border-radius: 6px!important;
    font-size: 14px!important;
    text-transform: capitalize;
    background-color: var(--colorTextBody)!important;
    color: #fff!important;
    transition: background-color 0.5s ease-in-out;
}

.filter-tags li a:hover {
   background-color: #26286e!important;
   color:#fff!important;
}

.yv-blog-title {
    text-transform: uppercase!important;
}

.yv-blog-date-small {
    color: grey!important;
    font-size: 12px;
}

.yv-blog-tags li a {
    font-size: 13px!important;
    text-transform: capitalize;
    background-color: #26286e!important;
    color: #fff!important;
}